.to-do-list-container {
    background-color: white;
    border-radius: 10px;
    width: 60vw;
    height: auto;
    min-height: 30vh;
    padding: 10px;
    color: black;
  }
  
  #todo-list-Body .input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
  }
  
  #todo-list-Body .input-field input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
  }
  
  #todo-list-Body .input-field #add-task  {
    outline: none;
    padding: 16px 50px;
    font-size: 16px;
    border-radius: 25px;
    color: #555;
    
  }
  
  #todo-list-Body h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #todo-list-Body .main ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center; /* This aligns items vertically */
    color: black;
    position: relative; /* Ensure the li is the positioning context for the span */
}
  
  #todo-list-Body .main ul li span {
    position: absolute;
    right: 10px; /* Adjusted from 0 to 10px for better positioning */
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer; /* Added for better user experience */
  }
  
  #todo-list-Body .main ul li span:hover {
    background: #edeef0;
  }
  

  #todo-list-Body .main ul li::before {
    content: '';
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./pictures/unchecked.png);
    background-size: cover;
    background-position: center;
    margin-right: 12px; /* Space between the image and the text */
}
  
  #todo-list-Body .main ul li.checked {
    color: #555;
    text-decoration: line-through;
  }
  
  #todo-list-Body .main ul li.checked::before {
    background-image: url(./pictures/checked.png);
  }

 